@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
 font-family:"Manrope", serif ;
 background-color: #FFEADD;
}
.main{
    width: 290px;
    height: 500px;
    background-image: linear-gradient(to left,rgb(189, 185, 185),rgb(173, 164, 164),rgb(85, 77, 77) , rgb(134, 125, 125),rgb(48, 47, 47));
    margin: 40px auto;
    border-radius: 15px;
    position: relative;
    box-shadow: -30px 23px 2px rgba(0, 0, 0, 0.2);
    border: 2px rgba(0, 0, 0, 0.2) solid;
}
.main1{
    margin: 13px 6px;
    background-color: white;
    width: 275px;
    height: 475px;
    position: absolute;
    border-radius: 15px;
}
.main2{
    background:#fa9dac;
    border-radius: 15px 15px 20px 20px;
    width: 100%;
    height: 180px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.contans span{
    margin-right: 2px;
}
.circle{
    margin-right: -46px;
}
.input{
    background:#fa9dac;
    border: none;
    height: 90px;
    margin-top: 14px;
    padding: 14px;
    width: 100%;
    outline: none;
    font-size: 40px;
}
.line{
    width: 40px;
    height: 3px;
    background-color: black;
    position: absolute;
    margin-left: -160px;
    margin-top: 125px;
    border-radius: 19px;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 11px;
    margin-right: 4px;
    margin-top: 6px;
}

.acdelete{
    background-image: linear-gradient(to top left ,#FF8F00,#FED8B1);
    
}
.calculation{
    background-image: linear-gradient(to top left ,#f17f92,#ffd4d0);
    
}
.numbers{
    background-image: linear-gradient(to top left ,#fdb9d2,#ffd4d0);
   
}
.main::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 85px;
    height: 1.5px;
    transform: rotate(90deg);
    left: 246px;
    top: 220px;
    border-radius: 16px;
}
.main::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 50px;
    height: 1.5px;
    transform: rotate(90deg);
    left: 264px;
    top: 100px;
    border-radius: 25px;
}
@media(min-width:600px){
    .main{
        margin: 400px auto; 
    }
}
